<div class="page">
    <app-topbar></app-topbar>
    <app-side-bar></app-side-bar>

    <div class="container">
        <div class="shadow">
            <div class="title">
                <h1>CompareRGM Therms and Conditions</h1>
            </div>
        
            <div class="content">
                <textarea class="text" disabled>
                    
Welcome to CompareRGM, a platform designed to help you make informed decisions by comparing products with those of your competitors. Before using our website, please take a moment to carefully read and understand the following Terms and Conditions. If you do not agree with any part of these terms, please refrain from using our services.
                    
1. Acceptance of Terms
1.1 By accessing or using acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions. These terms may be updated from time to time, and your continued use of the website constitutes acceptance of any changes.
                    
2. Use of Services
2.1. Provides a platform for comparing products. Users are responsible for ensuring the accuracy and legality of the information they provide.                    
2.2. Users must not engage in any unlawful activities, including but not limited to unauthorized access, data manipulation, or any other actions that may compromise the integrity of our platform.
                    
3. Intellectual Property
3.1. All content and materials available on CompareRGM, including but not limited to text, graphics, logos, images, and software, are the property of CompareRGM or its licensors and are protected by applicable copyright and trademark laws.
3.2. Users may not reproduce, distribute, modify, or republish any content from CompareRGM without prior written consent.
                    
4. User Content
4.1. Users may submit information for comparison purposes. By doing so, users grant CompareRGM a non-exclusive, worldwide, royalty-free license to use, display, and distribute the submitted content.
4.2. Users are responsible for the accuracy and legality of the content they submit. CompareRGM reserves the right to remove any content that violates these Terms and Conditions.
                    
5. Privacy
5.1. CompareRGM takes user privacy seriously. Our Privacy Policy outlines how we collect, use, and protect user information. By using CompareRGM, you consent to the terms of our Privacy Policy.
                    
6. Limitation of Liability
6.1. CompareRGM is not responsible for the accuracy, completeness, or reliability of the information provided by users.
6.2. CompareRGM is not liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of our services.

7. Termination
7.1. CompareRGM reserves the right to terminate or suspend access to its services at any time, without prior notice, for any reason, including but not limited to a violation of these Terms and Conditions.
                </textarea>
            </div>
        </div>
    </div>
</div>