<div class="container">
    <div class="title-logo">
        <h1 class="title">
            <i class="logo fa-solid fa-scale-balanced"></i>
            COMPARE
            <i class="rgm">RGM</i>
        </h1>
    </div>

    <div class="search-bar">
        <input 
        class="search" 
        type="search"
        placeholder="Search"
        >
            <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="account">
        <i class="fa-regular fa-bell"></i>
        <i class="fa-regular fa-circle-user"></i>
    </div>
</div>