<div class="container">
    <div class="title-logo">
        <h1 class="title">
            <i class="logo fa-solid fa-scale-balanced"></i>
            COMPARE
            <i class="rgm">RGM</i>
        </h1>
    </div>

    <div class="search-bar" *ngIf="!disabled">
        <input 
        class="search" 
        type="search"
        placeholder="Search"
        aria-selected
        [(ngModel)]="searchText"
        (click)="navigate()"
        (input)="search()"
        >
            <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="account" *ngIf="!disabled">
        <span (click)="notifVisibility()">
            <i
            *ngIf="!notifVisible" 
            class="fa-regular fa-bell"
            ></i>
            <i
            *ngIf="notifVisible" 
            class="fa-solid fa-bell"
            ></i>
            <div class="notifications-count" *ngIf="notifications.length !== 0">
                <p class="count">{{ notifications.length }}</p>
            </div>
        </span>

        <span (click)="accVisibility()">
            <i
                *ngIf="!accVisible" 
                class="fa-regular fa-circle-user"
            ></i>
            <i
                *ngIf="accVisible" 
                class="fa-solid fa-circle-user"
            ></i>
        </span>
    </div>
</div>

<app-profile-dropdown *ngIf="accVisible"></app-profile-dropdown>
<app-notoficaions-dropdown *ngIf="notifVisible"></app-notoficaions-dropdown>