.container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    background-color: #1B1C23;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-logo {
    flex: 1;
    flex-basis: 12em;
}

.title {
    color: #D9D9D9;
    font-size: 24px;
    margin: auto;
}

.logo {
    color: #8670FF;
}

.rgm {
    font-style: normal;
    color:#8670FF
}

.search-bar {
    flex: 3;
}

.search {
    width: 450px;
    height: 25px;
    border: none;
    border-radius: 15px;
    background-color: #48474F;
    color: #6C6A72;
    text-indent: 1.5em;
    font-size: 20px;
}

.fa-magnifying-glass {
    color: #6C6A72;
    font-size: 20px;
    position: absolute;
    margin: 0.15em 0 0 -22.2em;
}

.account {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 0.2;
    color: #8670FF;
    font-size: 25px;
    position: relative;
}
 
.fa-bell:hover, .fa-circle-user:hover {
    color: #9f91fb;
}

.fa-bell:active, .fa-circle-user:active {
    color: rgb(81, 73, 131);
} 

.notifications-count {
    position: absolute;
    top: 1px;
    left: 25px;
    width: 13px;
    height: 13px;
    font-size: 10px;
    text-align: center;
    color: #D9D9D9;
    background-color: #A51418;
    border-radius: 10px;
    margin: 0;
}

.count {
    margin: 0;
}

.account span{
    margin: 0 0.5em;
    cursor: pointer;
}