<div class="page">
    <app-topbar [disabled]="disabled"></app-topbar>
    
    <div class="container">
        <h1 class="title">Get Started Today!</h1>
        <p class="paragraph">Unlock the potential of your business with Compare RGM. 
            Sign up now to access a world of possibilities, and discover how 
            you can elevate your company's performance to new heights. 
            Make informed decisions and outshine your competitors.
        </p>
        <p class="paragraph">
            Remember, the first step towards success is knowing where you 
            stand. Let Compare RGM be your guide in the journey to excellence. 
            Start comparing, start excelling!
            </p>
            <div class="buttons">
                <button 
                    class="button login-button" 
                    routerLink="/login" 
                    routerLinkActive="active"
                >
                    Login
                </button>
                <button 
                    class="button register-button"
                    routerLink="/register"
                    routerLinkActive="active"
                >
                    Register
                </button>
            </div>
    </div>
</div>