<div class="page">
    <app-topbar class="topbar"></app-topbar>
    
    <div class="contents">
        <app-side-bar class="sidebar"></app-side-bar>
        
        <div class="container">
            <div class="shadow">
                <div class="title">
                    <h1>Settings</h1>
                </div>
            
                <div class="content">
                        <form 
                            class="form" 
                            [formGroup]="settingsForm"
                            (ngSubmit)="save()"
                        >
                            <div class="about">
                                <h3 class="title2">About</h3>
                                <img class="profile-picture" src="assets/img/circle-user-solid.svg">
    
                                <div class="input-container">                                
                                    <i class="fa-solid fa-image"></i>
                                    <input 
                                        #newImg
                                        class="input upload" 
                                        type="file"
                                        title="Upload image"
                                        accept="image/*"
                                        formControlName="newImage"
                                    >
                                </div>
                                <p
                                    *ngIf="newImage.touched 
                                        && newImage.dirty
                                        && newImage.errors"
                                    class="errors"
                                >
                                    Please upload an image with width and height of 100 pixels.
                                </p>
                                
                                <app-input 
                                    [control]="newCompany" 
                                    placeholder="Company" 
                                    invalid_class="fa-user"
                                    valid_class="fa-user-tie"
                                ></app-input>
    
                                <div class="input-container">
                                    <i class="fa-solid fa-address-card"></i>
                                    <textarea 
                                        class="input description"  
                                        rows="6"
                                        cols="271"
                                        (keyup)="limitTextArea($event)"
                                        placeholder="Description"
                                        formControlName="newDescription"
                                    ></textarea>
                                    <p
                                        *ngIf="newDescription.touched 
                                            && newDescription.dirty
                                            && newDescription.errors"
                                        class="description-error"
                                    >
                                        It must be less than 271 characters long.
                                    </p>
                                </div>
                            </div>
                            
    
                            <div class="password">
                                <h3 class="title2">Password</h3>
                                <app-input 
                                    [control]="newPassword"
                                    [type]="passwordTipe"
                                    placeholder="Password" 
                                    invalid_class="fa-lock"
                                    valid_class="fa-unlock"
                                ></app-input>
                                <i 
                                    *ngIf="passwordTipe === 'password'"
                                    class="fa-solid fa-eye visible-password"
                                    (click)="visiblePassword()"
                                ></i>
                                <i 
                                    *ngIf="passwordTipe === 'text'"
                                    class="fa-regular fa-eye visible-password"
                                    (click)="visiblePassword()"
                                ></i>
                                
                                <app-input
                                    [control]="confirmNewPassword" 
                                    [type]="confirmPasswordTipe"
                                    placeholder="Confirm password" 
                                    invalid_class="fa-lock"
                                    valid_class="fa-unlock"
                                ></app-input>
                                <i 
                                    *ngIf="confirmPasswordTipe === 'password'"
                                    class="fa-solid fa-eye visible-confirm-password"
                                    (click)="visibleConfirmPassword()"
                                ></i>
                                <i 
                                    *ngIf="confirmPasswordTipe === 'text'"
                                    class="fa-regular fa-eye visible-confirm-password"
                                    (click)="visibleConfirmPassword()"
                                ></i>
            
                            </div>
                            
                            <div class="buttons">
                                <button 
                                    class="button products"
                                    routerLink="/settings/products"
                                    routerLinkActive="active"
                                >
                                    Edit products
                                </button>
                                <button 
                                    class="button save"
                                    [disabled]="settingsForm.invalid"
                                >Save</button>
                            </div>
                        </form>
    
                </div>
            </div>
        </div>
    </div>
</div>