<div class="container">
    <nav class="navigation">
        <div class="selected" >
            <a class="dashboard">
                <hr class="invisible">
                <i class="fa-solid fa-house"></i>
                <p class="text">Dashboard</p>
                <hr>
            </a>
        </div>
        <a class="link settings">
            <i class="fa-solid fa-gear"></i>
            <p class="text">Settings</p>
            <hr>
        </a>
        <a class="link competitors">
            <i class="fa-solid fa-user-gear"></i>
            <p class="text">Competitors</p>
            <hr>
        </a>
        <a class="link compare">
            <i class="fa-solid fa-scale-balanced"></i>
            <p class="text">Compare</p>
            <hr>
        </a>
        <a class="link statistics">
            <i class="fa-solid fa-chart-line"></i>
            <p class="text">Statistics</p>
            <hr>
        </a>
        <a class="link terms">
            <i class="fa-solid fa-file-contract"></i>
            <p class="text">Terms and Conditions</p>
        </a>
    </nav>
</div>