.container {
    background-image: linear-gradient(45deg, #582796, #8670FF);
    width: 100vw;
    height: 100vh;
    margin: -0.5em;
}

.forum {
    background-color: #F8F7FF;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 50px 20px;
    color: #1B1C23;
    text-align: center;
    font-size: 25px;
    width: 350px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.title {
    margin: 1em;
}
.terms {
  margin:0.5em;
}

.fa-eye {
  background: -webkit-linear-gradient(45deg, #582796, #8670FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  cursor: pointer;
}

.visible-password {
  top: 373px;
  left: 12em;
}

.visible-confirm-password {
  top: 463px;
  left: 12em;
}

label {
  position: relative;
  font-size: 17px;
  cursor: pointer;
}

label input {
  position: absolute;
  opacity: 0;
}

.input-check {
  position: relative;
  display: inline-block;
  top: 6.5px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: double 2px transparent;
  border-radius: 4px;
  background-image: linear-gradient(90deg, white, white), linear-gradient(180deg, #8670FF, #582796);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-right: 5px;
  transition: .5s;
}

label input:checked~.input-check {
  background-image: linear-gradient(180deg, #8670FF, #582796), linear-gradient(180deg, #8670FF, #582796);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  animation: animate .7s ease;
}

.input-check::before {
  content: '';
  position: absolute;
  top: 5.5px;
  left: 4.5px;
  width: 10px;
  height: 4px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: scale(0) rotate(-45deg);
  transition: .5s;
}

label input:checked~.input-check::before {
  transform: scale(1) rotate(-45deg);
}

.errors {
  margin-top: -0.5em;
  margin-left: 1.5em;
  font-size: 12px;
  text-align: left;
  color: #df1b21;
  position: absolute;
}

.button {
    font-size: 15px;
    margin: 1.8em 1em;
    width: 135px;
    height: 35px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) -4px 4px 8px;
    background-image: linear-gradient(45deg, #8670FF, #582796);
    color: #D9D9D9;
}

.button:hover {
  color: #1E1E1E;
  background-image: linear-gradient(45deg, #D9D9D9, #D9D9D9);
}

.button:active {
  background-image: linear-gradient(225deg, #2F2B44, #2F2B44);
  color: #D9D9D9;  
}

.register:disabled {
  color: #1E1E1E;
  background-image: linear-gradient(45deg, #D9D9D9, #D9D9D9);
}
.register:disabled:active {
  color: #1E1E1E;
  background-image: linear-gradient(45deg, #D9D9D9, #D9D9D9);
}