<div class="container">
    <div class="forum">
        <h1 class="title">Register</h1>
        
        <app-alert *ngIf="showAlert" [color]="alertColor">
            {{ alertMsg }}
        </app-alert>

        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <app-input 
                [control]="email" 
                placeholder="Email" 
                invalid_class="fa-envelope"
                valid_class="fa-envelope-open"
            ></app-input>

            <app-input 
                [control]="company" 
                placeholder="Company" 
                invalid_class="fa-user"
                valid_class="fa-user-tie"
            ></app-input>
            
            <app-input 
                [control]="password"
                [type]="passwordTipe"
                placeholder="Password" 
                invalid_class="fa-lock"
                valid_class="fa-unlock"
            ></app-input>
            <i 
                *ngIf="passwordTipe === 'password'"
                class="fa-solid fa-eye visible-password"
                (click)="visiblePassword()"
            ></i>
            <i 
                *ngIf="passwordTipe === 'text'"
                class="fa-regular fa-eye visible-password"
                (click)="visiblePassword()"
            ></i>
            
            <app-input
                [control]="confirmPassword" 
                [type]="confirmPasswordTipe"
                placeholder="Confirm password" 
                invalid_class="fa-lock"
                valid_class="fa-unlock"
            ></app-input>
            <i 
                *ngIf="confirmPasswordTipe === 'password'"
                class="fa-solid fa-eye visible-confirm-password"
                (click)="visibleConfirmPassword()"
            ></i>
            <i 
                *ngIf="confirmPasswordTipe === 'text'"
                class="fa-regular fa-eye visible-confirm-password"
                (click)="visibleConfirmPassword()"
            ></i>
            
            
            <div class="terms">
                <label>
                    <input
                        type="checkbox"
                        formControlName="terms"
                    >
                    <span class="input-check"></span>
                    I agree with the 
                    <a
                        class="therms-link" 
                        routerLink="/terms"
                        routerLinkActive="active"
                    >
                        Terms and Conditions
                    </a>
                </label>
            </div>
            <p
                *ngIf="terms.touched 
                    && terms.dirty
                    && terms.errors"
                class="errors"
            >
                You must accept to the terms and conditions.
            </p>

            <button 
                class="button register" 
                [disabled]="registerForm.invalid"
            >
                Register
            </button>
            <button 
                class=" button login" 
                routerLink="/login"
                routerLinkActive="active"
            >
                Login
            </button>
        </form>
    </div>
</div>