<div class="page">
    <app-topbar class="topbar"></app-topbar>

    <div class="contents">
        <app-side-bar class="sidebar"></app-side-bar>
        
        <div class="container">
            <div class="shadow">
                <div class="title">
                    <h1>Competitors</h1>
                </div>
            
                <div class="content">
                    <div class="competitors">
                        <div class="competitor">
                            <div class="img">
                                <img class="profile-img" src="assets/img/circle-user-regular.svg">
                            </div>
                            <div class="text">
                                <h4 class="name">Competitor1</h4>
                                <p class="email">competitor&#64;c.com</p>
                            </div>
                        </div>
                        <hr class="line line-competitors">
    
                        <div class="competitor">
                            <div class="img">
                                <img class="profile-img" src="assets/img/circle-user-regular.svg">
                            </div>
                            <div class="text">
                                <h4 class="name">Competitor2</h4>
                                <p class="email">competitor&#64;c.com</p>
                            </div>
                        </div>
                        <hr class="line line-competitors">
    
                        <div class="competitor">
                            <div class="img">
                                <img class="profile-img" src="assets/img/circle-user-regular.svg">
                            </div>
                            <div class="text">
                                <h4 class="name">Competitor3</h4>
                                <p class="email">competitor&#64;c.com</p>
                            </div>
                        </div>
                        <hr class="line line-competitors">
    
                        <div class="competitor">
                            <div class="img">
                                <img class="profile-img" src="assets/img/circle-user-regular.svg">
                            </div>
                            <div class="text">
                                <h4 class="name">Competitor3</h4>
                                <p class="email">competitor&#64;c.com</p>
                            </div>
                        </div>
                        <hr class="line line-competitors">
    
                        <div class="competitor">
                            <div class="img">
                                <img class="profile-img" src="assets/img/circle-user-regular.svg">
                            </div>
                            <div class="text">
                                <h4 class="name">Competitor3</h4>
                                <p class="email">competitor&#64;c.com</p>
                            </div>
                        </div>
                        <hr class="line line-competitors">
    
                        <div class="competitor">
                            <div class="img">
                                <img class="profile-img" src="assets/img/circle-user-regular.svg">
                            </div>
                            <div class="text">
                                <h4 class="name">Competitor3</h4>
                                <p class="email">competitor&#64;c.com</p>
                            </div>
                        </div>
                        <hr class="line line-competitors">
    
                        <div class="competitor">
                            <div class="img">
                                <img class="profile-img" src="assets/img/circle-user-regular.svg">
                            </div>
                            <div class="text">
                                <h4 class="name">Competitor3</h4>
                                <p class="email">competitor&#64;c.com</p>
                            </div>
                        </div>
                        <hr class="line line-competitors">
    
                        <div class="competitor">
                            <div class="img">
                                <img class="profile-img" src="assets/img/circle-user-regular.svg">
                            </div>
                            <div class="text">
                                <h4 class="name">Competitor3</h4>
                                <p class="email">competitor&#64;c.com</p>
                            </div>
                        </div>
                        <hr class="line line-competitors">
                    </div>
                    
                    <hr class="line line-selected">
    
                    <div class="selected">
                        <img class="selected-profile-img" src="assets/img/circle-user-regular.svg">
                        <h3 class="selected-name">Competitor1</h3>
                        <h4 class="about">About</h4>
                        <p class="about-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Facilisis volutpat est velit egestas dui id. Commodo sed egestas 
                            egestas fringilla phasellus faucibus scelerisque. Arcu odio ut sem 
                            nulla pharetra diam sit. Consequat id porta nibh venenatis cras 
                            sed felis eget velit.</p>
                        <button class="button">Send invite</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>