<div class="page">
    <app-topbar class="topbar"></app-topbar>

    <div class="contents">
        <app-side-bar class="sidebar"></app-side-bar>
    
        <div class="container">
            <div class="shadow">
                <div class="title">
                    <h1>Compare</h1>
    
                    <div class="filter">
                        <form class="filter-form">
                            <p class="filter-title">Filter</p>
                            <select class="input category select">
                                <option disabled selected>Category</option>
                                <option>Food</option>
                                <option>Home</option>
                                <option>Animals</option>
                            </select>
    
                            <input class="input price" type="number" placeholder="Price">
                            <input class="input size" type="number" placeholder="Size">
                        </form>
                    </div>
                </div>
            
                <div class="content">
                   <div class="your-products">
                        <h3 class="your-products-title">Your products</h3>
                        <div class="products">
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
                        </div>
                   </div>
    
                   <hr class="line separator">
    
                   <div class="your-products">
                    <select class="input competitors-select select">
                        <option disabled selected>Competitors</option>
                        <option>Competitor1</option>
                        <option>Competitor2</option>
                        <option>Competitor3</option>
                        <option>Competitor4</option>
                        <option>Competitor5</option>
                        <option>Competitor6</option>
                    </select>
                    
                    <div class="competitor-products">
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
        
                            <div class="product">
                                <p>Product</p>
                            </div>
                            <hr class="line line-products">
                        </div>
    
                        <div class="compare-button">
                            <button 
                                class="button"
                                routerLink="/compare/products"
                                routerLinkActive="active"
                            >
                                Compare
                            </button>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>