<div class="page">
    <app-topbar class="topbar"></app-topbar>

    <div class="contents">
        <app-side-bar class="sidebar"></app-side-bar>
    
        <div class="container">
            <div class="shadow">
                <div class="title">
                    <h1>Compare</h1>

                    <div class="products-name">
                        <p class="product1 a">{{ yourProduct.name }}</p>

                        <hr 
                            class="separator-name a"  
                            *ngIf="yourProduct.name && competitorProduct.name"
                        >

                        <p class="product2 a">{{ competitorProduct.name }}</p>
                    </div>
                </div>
            
                <div class="content">
                   <div class="your-products">
                        <h3 class="your-products-title">Your products</h3>
                        <div class="products">
                            <div *ngFor="let product of yourProducts | filter: searchText">
                                <button class="product" (click)="selectYourProduct(product)">
                                    <p>{{ product.name }}</p>
                                </button>
                                <hr class="line line-products">
                            </div>
                            <div class="no-products" *ngIf="yourProducts.length === 0">
                                <p>No products</p>
                            </div>
                        </div>
                   </div>
    
                   <hr class="line separator">
    
                   <div class="your-products">
                    <form 
                        [formGroup]="selectedCompetitor" 
                        (change)="selectCompetitor(selectedCompetitor.value.competitor)"
                    >
                    <p 
                        class="competitors-not-selected" 
                        *ngIf="!competitor._id"
                    >
                        Competitors
                    </p>
                        <select 
                            class="input competitors-select select"
                            formControlName="competitor"
                        >
                            <option 
                                *ngFor="let competitor of competitors"
                                [ngValue]="competitor"
                            >
                                {{ competitor.company }}
                            </option>
                        </select>
                    </form>
                    
                    <div class="competitor-products">
                            <div *ngFor="let product of competitor.products | filter: searchText">
                                <button class="product" (click)="selectCompetitorProduct(product)">
                                    <p>{{ product.name }}</p>
                                </button>
                                <hr class="line line-products">
                            </div>
                            <div class="no-products" *ngIf="!competitor._id">
                                <p>No competitor selected</p>
                            </div>
                            <div 
                                class="no-products" 
                                *ngIf="competitor._id 
                                    && competitor.products?.length === 0"
                            >
                                <p>No products</p>
                            </div>
                        </div>
    
                        <div class="compare-button">
                            <button 
                                class="button"
                                (click)="compareProducts()"
                                routerLink="/compare/products"
                                routerLinkActive="active"
                            >
                                Compare
                            </button>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>