.page {
    margin: -0.5em;
    width: 100vw;
    height: 100vh;
}

.topbar {
    z-index: 1;
    position: relative;
}

.sidebar {
    z-index: 0;
    position: relative;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container {
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 5px;
    background-color: #E8E7EB;
    border-radius: 20px;
    width: 1190px;
    height: 615px;
    margin: 1.5em auto;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px;
    border-radius: 20px;
    padding: 0.5em;
}

.title {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 0.01em 1.5em;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 0.5em;
    padding: 3.5em 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.option {
    background-color: #F0F0F0;
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin: 0.5em;
    width: 300px;
    position: relative;
}

.l-option {
    height: 300px;
}

.s-option {
    height: 159.5px;
}


.title2 {
    margin-top: 0.7em;
    margin-bottom: 0.8em;
}

.title3 {
    margin-top: 0.7em;
    margin-bottom: 0.2em;
}

.chart {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 130px;
    width: 260px;
    margin: 1.4em;
}

.s-chart {
    height: 110px;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
}

canvas {
    position: absolute;
    z-index: 1;
}

.procent {
    z-index: 0;
    border-radius: 50px;
    width: 99px;
    align-self: center;
    justify-self: center;
    background-color: #FFFFFF;
    position: absolute;
    text-align: center;
    margin: 48px;
    padding: 31px 0;
    top: 0.1px;
}

.button {
    background-image: linear-gradient(45deg, #8670FF, #582796);
    color: #D9D9D9;
    font-size: 15px;
    margin: 0 1em;
    width: 135px;
    height: 35px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) -4px 4px 8px;
}

.button:hover {
    color: #1E1E1E;
    background-image: linear-gradient(45deg, #D9D9D9, #D9D9D9);
}

.button:active {
    background-image: linear-gradient(225deg, #2F2B44, #2F2B44);
    color: #D9D9D9;
}

.no {
    z-index: 2;
    position: absolute;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: #BFBFBF;
    padding-top: 55px;
    height: 74px;
    left: -5.5px;
    top: 29px;
}

.no-procent {
    border-radius: 50px;
    width: 98px;
    align-self: center;
    justify-self: center;
    background-color: #FFFFFF;
    position: absolute;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: #BFBFBF;
    margin: 48px;
    padding: 38px 0;
    top: 0.1px;
}