.page {
    margin: -0.5em;
    width: 100vw;
    height: 100vh;
}

.topbar {
    z-index: 1;
    position: relative;
}

.sidebar {
    z-index: 0;
    position: relative;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container {
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 5px;
    background-color: #E8E7EB;
    border-radius: 20px;
    width: 1190px;
    height: 615px;
    margin: 1.5em auto;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px;
    border-radius: 20px;
    padding: 0.5em;
}

.title {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 0.01em 1.5em;
    margin: 0;
}

.content {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 0.5em;
    padding: 3.5em 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.option {
    background-color: #F0F0F0;
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin: 0.5em;
    width: 300px;
}

.l-option {
    height: 300px;
}

.s-option {
    height: 159.5px;
}


.title2 {
    margin-top: 0.7em;
    margin-bottom: 0.8em;
}

.title3 {
    margin-top: 0.7em;
    margin-bottom: 0.2em;
}

.chart {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 130px;
    width: 260px;
    margin: 1.4em;
}

.s-chart {
    margin: 0 1.4em;
    height: 110px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.procent {
    position: absolute;
    top: 527px;
}