<div class="dropdown">
    <div class="competitor">
        <img src="/assets/img/circle-user-solid.svg" class="profile-img">
        <p class="text">
            <span class="comp-name">Comp1</span>
             wants to share his data with you
        </p>
        <div class="buttons">
            <button class="check-button"><i class="fa-solid fa-check"></i></button>
            <button class="x-button"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
    <hr class="line">

    <div class="competitor">
        <img src="/assets/img/circle-user-solid.svg" class="profile-img">
        <p class="text">
            <span class="comp-name">Comp1</span>
             wants to share his data with you
        </p>
        <div class="buttons">
            <button class="check-button"><i class="fa-solid fa-check"></i></button>
            <button class="x-button"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
    <hr class="line">

    <div class="competitor">
        <img src="/assets/img/circle-user-solid.svg" class="profile-img">
        <p class="text">
            <span class="comp-name">Comp1</span>
             wants to share his data with you
        </p>
        <div class="buttons">
            <button class="check-button"><i class="fa-solid fa-check"></i></button>
            <button class="x-button"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
    <hr class="line">
</div>