<div class="dropdown">
    <div *ngFor="let notification of notifications">
        <div class="competitor">
            <img 
                [src]="notification.profileImage || '/assets/img/circle-user-solid.svg'" 
                class="profile-img"
            >
            <p class="text">
                <span class="comp-name">{{ notification.competitor }}</span>
                 wants to share his data with you
            </p>
            <div class="buttons">
                <button 
                    class="check-button"
                >
                    <i class="fa-solid fa-check"></i>
                </button>
                <button 
                    class="x-button" 
                    (click)="decline(notification.competitorID)"
                >
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>
        <hr class="line">
    </div>
    <div class="no-notifications" *ngIf="notifications.length === 0">
        <p>No notifications</p>
    </div>
</div>