<div class="page">
    <app-topbar class="topbar"></app-topbar>

    <div class="contents">
        <app-side-bar class="sidebar"></app-side-bar>
        
        <div class="container">
            <div class="shadow">
                <div class="title">
                    <h1>Dashboard</h1>
                </div>
            
                <div class="content">
                    <div class="info option l-option">
                        <h3 class="title2 info-title">General info</h3>
                        <img [src]="imageUrl || '/assets/img/circle-user-solid.svg'" class="acc-img">
                        <p class="acc-name">Company: {{ companyName }}</p>
                        <p class="acc-email">Email: {{ email }}</p>
                        <button 
                            class="button info-button"
                            routerLink="/settings"
                            routerLinkActive="active"
                        >
                            Edit
                        </button>
                    </div>
        
                    <div class="top-competitors option l-option">
                        <h3 class="title2 top-competitors-title">Top competitors</h3>
                        <div class="competitors-options">
                            <div class="c-option" *ngFor="let competitor of topCompetitors">
                                <img [src]="competitor.profileImage || 'assets/img/circle-user-solid.svg'">
                                <p>{{ competitor.competitor }}</p>
                            </div>
                        </div>
                        <button 
                            class="button t-c-button"
                            routerLink="/competitors"
                            routerLinkActive="active"
                        >
                            Add competitors
                        </button>
                    </div>
                    
                    <div class="stats option l-options">
                        <h3 class="title2 stats-title">Price statistics</h3>
                        <div class="chart">
                            <canvas id="prices">{{ prices }}</canvas>
                        </div>
                        <button 
                            class="button button-stats"
                            routerLink="/statistics"
                            routerLinkActive="active"
                        >
                            View more
                        </button>
                    </div>
        
                    <div class="products option s-option">
                        <h3 class="title3 products-title">Products</h3>
                        <p class="value">9999</p>
                        <button 
                            class="button"
                            routerLink="/settings/products"
                            routerLinkActive="active"
                        >
                            Add products
                        </button>
                    </div>
        
                    <div class="competitors option s-option">
                        <h3 class="title3 competitors-title">Competitors</h3>
                        <p class="value">{{ countCompetitors }}</p>
                        <button 
                            class="button"
                            routerLink="/competitors"
                            routerLinkActive="active"
                        >
                            Add competitors
                        </button>
                    </div>
        
                    <div class="products-value option s-option">
                        <h3 class="title3 products-value-title">Products value</h3>
                        <p class="value">$9999</p>
                        <button 
                            class="button"
                            routerLink="/competitors"
                            routerLinkActive="active"
                        >
                            Add competitors
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>