.container {
    background-color: #1E1E1E;
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px;
    color: #8670FF;
    text-align: center;
    width: 95px;
    height: 100vh;
    margin-top: -3.91em;
}

.dashboard-link {
    padding-top: 3.91em;
}

.div-link {
    cursor: pointer;
}

a {
    text-decoration-line: none;
}

a:visited {
    color: #8670FF;
}

.invisible {
    margin: 0;
    padding: 0.5em 0;
    background-color: #1E1E1E;
}

.fa-solid {
    margin: 0;
    font-size: 25px;
}

hr {
    margin: 1em 0;
    background-color: #4C428A;
    height: 1px;
    border-width: 0;
}