.page {
    margin: -0.5em;
    width: 100vw;
    height: 100vh;
}

.topbar {
    z-index: 1;
    position: relative;
}

.sidebar {
    z-index: 0;
    position: relative;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container {
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 5px;
    background-color: #E8E7EB;
    border-radius: 20px;
    width: 1190px;
    height: 615px;
    margin: 1.5em auto;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px;
    border-radius: 20px;
    padding: 0.5em;
}

.title {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 0.01em 1.5em;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.content {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 0.5em;
    height: 507px;
}

.table {
    height: 450px;
}

.products {
    margin: 0 3.5em;
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    position: relative;
}

th {
    border-bottom: 1px solid #BFBFBF;
    padding: 0;
    margin: 0;
}

th, td {
    padding: 0.5em;
}

.name {
    width: 35%;
}

.category {
    width: 25%;
}

.price, .size, .quantity, .edit {
    width: 10%;
}

.edit-button {
    background-color: #4C428A;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    color: #D9D9D9;
    margin: 0 0.2em;
    width: 25px;
    height: 25px;
}

.edit-button:hover {
    background-color: #6a5ebc;
}

.edit-button:active {
    background-color: #282443;
}


.x-button {
    background-color: #A51418;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #D9D9D9;
    margin: 0 0.2em;
    width: 25px;
    height: 25px;
}

.x-button:hover {
    background-color: #d5262c;
}

.x-button:active {
    background-color: #3f0809;
}

.buttons {
    float: right;
}

.button {
    background-color: #D9D9D9;
    font-size: 15px;
    color: #1E1E1E;
    margin: 0 1em;
    width: 135px;
    height: 35px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) -4px 4px 8px;
}

.new-product {
    margin-right: 0;
}

.settings:hover, .save {
    background-image: linear-gradient(45deg, #8670FF, #582796);
    color: #D9D9D9;
}

.save:hover {
    color: #1E1E1E;
    background-image: linear-gradient(45deg, #D9D9D9, #D9D9D9);
}

.button:active {
    background-image: linear-gradient(225deg, #2F2B44, #2F2B44);
    color: #D9D9D9;
}