.page {
    margin: -0.5em;
    width: 100vw;
    height: 100vh;
}

.topbar {
    z-index: 1;
    position: relative;
}

.sidebar {
    z-index: 0;
    position: relative;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container {
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 5px;
    background-color: #E8E7EB;
    border-radius: 20px;
    width: 1190px;
    height: 615px;
    margin: 1.5em auto;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px;
    border-radius: 20px;
    padding: 0.5em;
}

.title {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 0.01em 1.5em;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alert {
    margin-top: 3em;
    align-self: center;
}

.space{
    margin-left: 8em;
}

.content {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 0.5em;
    height: 507px;
}

.form {
    text-align: center;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.about {
    width: 350px;
    margin: 5.2em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title2 {
    text-align: center;
}

.profile-picture {
    width: 65px;
    align-self: center;
    border-radius: 50px;
}

.password {
    width: 350px;
    margin: 0 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.input-container {
    position: relative;
}

.input {
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 40px 4px;
    border: none;
    border-radius: 50px;
    width: 300px;
    height: 10px;
    margin: 1.33em 0;
    padding: 1em;
    text-indent: 2.5em;
    
}

.fa-image, .fa-images, .fa-address-card, .fa-id-card {
    background: -webkit-linear-gradient(45deg, #582796, #8670FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    position: absolute;
    top: 0.95em;
    left: 0.95em;
    text-align: center;
}

.visible-password {
    background: -webkit-linear-gradient(45deg, #582796, #8670FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    cursor: pointer;
    top: 8em;
    left: 12em;
    font-size: 25px;
}

.visible-confirm-password {
    background: -webkit-linear-gradient(45deg, #582796, #8670FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    cursor: pointer;
    top: 11.5em;
    left: 12em;
    font-size: 25px;
}

.upload {
    color: #757575;
    font-size: 13px;
    padding: 0.8em 1em 1.2em 1em;
}

.upload::file-selector-button {
    display: none;
}

.description {
    border-radius: 20px;
    overflow: hidden;
    resize: none;
    padding: 0.8em 1em 1.2em 1em;
    height: 100px;
}

.errors {
    margin-top: -4.3em;
    margin-left: 2em;
    font-size: 12px;
    text-align: left;
    color: #df1b21;
    position: absolute;
}

.description-error {
    margin-top: -1em;
    margin-left: 2em;
    font-size: 12px;
    text-align: left;
    color: #df1b21;
    position: absolute;
}

.buttons {
    position: absolute;
    top: 28.1em;
    left: 52.75em;
}

.button {
    font-size: 15px;
    margin: 0 1em;
    width: 135px;
    height: 35px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) -4px 4px 8px;
    background-image: linear-gradient(45deg, #8670FF, #582796);
    color: #D9D9D9;
}

.button:hover {
  color: #1E1E1E;
  background-image: linear-gradient(45deg, #D9D9D9, #D9D9D9);
}

.button:active {
  background-image: linear-gradient(225deg, #2F2B44, #2F2B44);
  color: #D9D9D9;  
}

.save:disabled {
  color: #1E1E1E;
  background-image: linear-gradient(45deg, #D9D9D9, #D9D9D9);
}
.save:disabled:active {
  color: #1E1E1E;
  background-image: linear-gradient(45deg, #D9D9D9, #D9D9D9);
}