<div class="page">
    <app-topbar class="topbar"></app-topbar>

    <div class="contents">
        <app-side-bar class="sidebar"></app-side-bar>
    
        <div class="container">
            <div class="shadow">
                <div class="title">
                    <h1>Compare</h1>
    
                    <div class="products-name">
                        <p class="product1 a">{{ yourProduct.name }}</p>
                        <hr class="separator-name a">
                        <p class="product2 a">{{ competitorProduct.name }}</p>
                    </div>
                    
                    <button 
                        class="button back-button"
                        routerLink="/compare"
                        routerLinkActive="active"
                    >
                        Back
                    </button>
                </div>

            
                <div class="content">
                    <div class="price">
                        <h3 class="text">Price</h3>
                        <div class="stats">
    
                            <p>User: <span>${{ yourProduct.price }}</span></p>
                            <div class="display user">
                                
                                <div class="range">
                                    <input 
                                        class="slider"
                                        disabled
                                        type="range"
                                        min="0" 
                                        [max]="maxPrice" 
                                        [value]="yourProduct.price"
                                    >
                                </div>
                                
                                <div class="values">
                                    <p class="value">$0</p>
                                    <p class="value">${{ round(maxPrice / 4) }}</p>
                                    <p class="value">${{ round(maxPrice / 2) }}</p>
                                    <p class="value">${{ round(maxPrice / 4*3) }}</p>
                                    <p class="value">${{ maxPrice }}</p>
                                </div>
                            </div>
    
                            <div class="display competitor">
                                
                                <div class="range">
                                    <input 
                                        class="slider"
                                        disabled
                                        type="range" 
                                        min="0" 
                                        [max]="maxPrice" 
                                        [value]="competitorProduct.price"
                                        >
                                    </div>
                                    
                                    <div class="values">
                                        <p class="value">$0</p>
                                        <p class="value">${{ round(maxPrice / 4) }}</p>
                                        <p class="value">${{ round(maxPrice / 2) }}</p>
                                        <p class="value">${{ round(maxPrice / 4*3) }}</p>
                                        <p class="value">${{ maxPrice }}</p>
                                    </div>
                                </div>
                                
                                <p>Competitor: <span>${{ competitorProduct.price }}</span></p>
                        </div>
                    </div>
                    
                    <hr class="line" 
                        *ngIf="yourProduct.size !== 0 
                        && competitorProduct.size !== 0"
                    >

                    <div 
                        class="price" 
                        *ngIf="yourProduct.size !== 0 
                        && competitorProduct.size !== 0"
                    >
                        <h3 class="text">Size</h3>
                        <div class="stats">
    
                            <p>User: <span>{{ yourProduct.size }}kg</span></p>
                            <div class="display user">
                                
                                <div class="range">
                                    <input 
                                        class="slider"
                                        disabled
                                        type="range"
                                        min="0" 
                                        [max]="maxSize" 
                                        [value]="yourProduct.size"
                                    >
                                </div>
                                
                                <div class="values">
                                    <p class="value">0kg</p>
                                    <p class="value">{{ round(maxSize / 4) }}kg</p>
                                    <p class="value">{{ round(maxSize / 2) }}kg</p>
                                    <p class="value">{{ round(maxSize / 4*3) }}kg</p>
                                    <p class="value">{{ maxSize }}kg</p>
                                </div>
                            </div>
    
                            <div class="display competitor">
                                
                                <div class="range">
                                    <input 
                                        class="slider"
                                        disabled
                                        type="range" 
                                        min="0" 
                                        [max]="maxSize" 
                                        [value]="competitorProduct.size"
                                        >
                                    </div>
                                    
                                    <div class="values">
                                        <p class="value">0kg</p>
                                        <p class="value">{{ round(maxSize / 4) }}kg</p>
                                        <p class="value">{{ round(maxSize / 2) }}kg</p>
                                        <p class="value">{{ round(maxSize / 4*3) }}kg</p>
                                        <p class="value">{{ maxSize }}kg</p>
                                    </div>
                                </div>
                                
                                <p>Competitor: <span>{{ competitorProduct.size }}kg</span></p>
                        </div>
                    </div>
                    
                    <hr class="line" 
                        *ngIf="yourProduct.quantity !== 0 
                        && competitorProduct.quantity !== 0"
                    >
    
                    <div 
                        class="price" 
                        *ngIf="yourProduct.quantity !== 0 
                        && competitorProduct.quantity !== 0"
                    >
                        <h3 class="text">Quantity</h3>
                        <div class="stats">
    
                            <p>User: <span>{{ yourProduct.quantity }}</span></p>
                            <div class="display user">
                                
                                <div class="range">
                                    <input 
                                        class="slider"
                                        disabled
                                        type="range"
                                        min="0" 
                                        [max]="maxQuantity" 
                                        [value]="yourProduct.quantity"
                                    >
                                </div>
                                
                                <div class="values">
                                    <p class="value">0</p>
                                    <p class="value">{{ round(maxQuantity / 4) }}</p>
                                    <p class="value">{{ round(maxQuantity / 2) }}</p>
                                    <p class="value">{{ round(maxQuantity / 4*3) }}</p>
                                    <p class="value">{{ maxQuantity }}</p>
                                </div>
                            </div>
    
                            <div class="display competitor">
                                
                                <div class="range">
                                    <input 
                                        class="slider"
                                        disabled
                                        type="range" 
                                        min="0" 
                                        [max]="maxQuantity" 
                                        [value]="competitorProduct.quantity"
                                        >
                                    </div>
                                    
                                    <div class="values">
                                        <p class="value">0</p>
                                        <p class="value">{{ round(maxQuantity / 4) }}</p>
                                        <p class="value">{{ round(maxQuantity / 2) }}</p>
                                        <p class="value">{{ round(maxQuantity / 4*3) }}</p>
                                        <p class="value">{{ maxQuantity }}</p>
                                    </div>
                                </div>
                                
                                <p>Competitor: <span>{{ competitorProduct.quantity }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>